:root {
    --ttt-border: rgb(250, 250, 250);
    --player-mark: rgba(255, 255, 255, 0.692);
    --background: rgb(73, 73, 73);
    --player-name: white;
    --winning-marks: pink;
}

body {
    background-color: var(--background);
    color: grey;
    font-family: arial;
    text-align: center;
}

#game-container{
    display: grid;
    justify-content: center;
    grid-template-rows: 500px 100px 200px;
    grid-template-columns: repeat(4, 112.5px);
}

#board{
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin-top: 50px;
}

.tile{
    border: 1px var(--ttt-border);
    text-align: center;
    font-size: 88px;
    padding-top: 15px;
}

#tile-4{
    border: solid 2px var(--ttt-border);
}

#tile-1, #tile-7{
    border-left: solid 2px var(--ttt-border);
    border-right: solid 2px var(--ttt-border);
}

#tile-3, #tile-5{
    border-top: solid 2px var(--ttt-border);
    border-bottom: solid 2px var(--ttt-border);
}

.player{
    grid-column: span 2;
    justify-self: center;
}

.player-name{
    color: var(--player-name);
    font-size: 30px;
}

.player-mark{
    color: var(--player-mark);
    font-size: 25px;
    padding-top: 40px;
}

.my-turn{
    text-decoration: underline;
}

#results{
    grid-column: span 3;
    font-size: 100%;
    justify-self: center;
    align-self: end;
}

#restart{
    width: 90px;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    justify-self: center;
    align-self: end;
}

#restart:hover{
    border: solid 1px red;
}

.winning-tile {
    color: var(--winning-marks);
}